/.vscode
/node_modules
/public/*.html
/public/hot
/public/storage
/public/*.hot-update*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log