@import './globals/normalize.css';
@import './components/passport-form.css';

:root {
    --page-font-color: black;
    --page-font: Arial, 'Sans Serif';
    --page-font-size: 16px;
    --page-line-height: normal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
}

html {
    font-size: var(--page-font-size);
}

body {
    position: relative;
    margin: 0;
    color: var(--page-font-color);

    font-family: var(--page-font);
    font-size: var(--page-font-size);
    font-weight: normal;
    line-height: var(--page-line-height);
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;

    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0 0 0 0);

    clip-path: inset(100%);

    white-space: nowrap;
}

input[type='time']::-ms-clear {
    display: none;
}

input[type='time']::-webkit-clear-button {
    display: none;
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* Hide the magnifying glass */
::-webkit-search-results-button {
    -webkit-appearance: none;
}

/* Remove the rounded corners */
input[type='search'] {
    -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-fluid {
    max-width: 1350px;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.h-75 {
    height: 75%;
}

/* .MuiTableCell-root:first-of-type {
    width: 20px !important;
} */

.MuiTableCell-head:first-of-type {
    width: calc((100% - 0px) / 18) !important;
}

.MuiTableCell-head:nth-last-of-type(2) {
    width: calc((100% - 0px) / 15) !important;
}

.MuiTableCell-head:nth-last-of-type(1) {
    width: calc((100% - 0px) / 15) !important;
}
