.name {
    width: 15%;
}

.pages {
    width: 5%;
}

.wrapMaterial {
    width: 20%;
}

.printType {
    width: 15%;
}

.colorFormula {
    width: 5%;
}

.colorInterpretation {
    width: 10%;
}

.addInfo {
    width: 23%;
}