.passInputBorder {
    max-width: 100%;
    padding-left: 6px;
    border-color: #FFE082;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.passInputSize {
    min-height: 30px;    
}

.passInputmb {
    margin-bottom: 12px;
}

.passInputmr {
    margin-right: 12px;
}