.btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn--md {
    --size: 48px;
    width: var(--size);
    height: var(--size);
}

.btn--sm {
    --size: 24px;
    width: var(--size);
    height: var(--size);
}

.icon {
    max-width: 100%;
    max-height: 100%;
}